<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> blog-post" itemscope itemtype="http://schema.org/Article">
					<header class="article-header text-center"><%- partial('post/title', {class_name: 'article-title'}) %></header>
				<div class="article-meta blog-post-meta text-center">
					<%- partial('post/date', {class_name: 'article-date', date_format: config.date_format, time_format: config.time_format}) %><% if (post.author){ %>
					<div class="article-author"><span itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name" content="<%= config.author %>"></span></span>
							<span itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher">
								<span itemprop="name"><%= post.author %></span>
								<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
									<meta itemprop="url" content="<%= theme.og_image_url %>">
								</span>
							</span>
						</span>
					</div>
		<% } %><% if (post.categories && post.categories.length){ %><%- partial('post/category') %>		
				</div><% } else { %>		</div><% } %>
				<div class="article-inner">
				<%- partial('post/gallery') %>	<div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
						<meta itemprop="url" content="<%= theme.og_image_url %>">
					</div>
					<div class="article-entry" itemprop="articleBody">
<% if (post.excerpt && index){ %><%- post.excerpt %>
<% if (theme.excerpt_link){ %>						<p class="article-more-link">
							<a class="btn btn-primary text-center" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
						</p><% } %><% } else { %><%- post.content %><% } %>					</div>
					<footer class="article-footer">
						<% if (!index){ %><button data-fancybox-fb class="fancybox-button fancybox-button--fb pull-right" title="Facebook"><svg viewBox="0 0 24 24"><path d="M22.676 0H1.324C.594 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294h-3.13v-3.62h3.13V8.41c0-3.1 1.894-4.785 4.66-4.785 1.324 0 2.463.097 2.795.14v3.24h-1.92c-1.5 0-1.793.722-1.793 1.772v2.31h3.584l-.465 3.63h-3.12V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .594 23.408 0 22.676 0"/></svg></button>
						<button data-fancybox-tw class="fancybox-button fancybox-button--tw pull-right" title="Twitter"><svg viewBox="0 0 24 24"><path d="M23.954 4.57c-.885.388-1.83.653-2.825.774 1.013-.61 1.793-1.574 2.162-2.723-.95.556-2.005.96-3.127 1.185-.896-.96-2.173-1.56-3.59-1.56-2.718 0-4.92 2.204-4.92 4.918 0 .39.044.765.126 1.124C7.69 8.094 4.067 6.13 1.64 3.16c-.427.723-.666 1.562-.666 2.476 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.06c0 2.386 1.693 4.375 3.946 4.828-.413.11-.85.17-1.296.17-.314 0-.615-.03-.916-.085.63 1.952 2.445 3.376 4.604 3.416-1.68 1.32-3.81 2.105-6.102 2.105-.39 0-.78-.022-1.17-.066 2.19 1.394 4.768 2.21 7.557 2.21 9.054 0 14-7.497 14-13.987 0-.21 0-.42-.016-.63.962-.69 1.8-1.56 2.46-2.548l-.046-.02z"/></svg></button><% } %>	
						<%- partial('post/tag') %>
    				</footer>
				</div><% if (!index){ %>
<%- partial('post/nav') %><% } %>
				</article>