<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><%
	  var title = page.title;
	
	  if (is_archive()){
	    title = 'Archives';
	
	    if (is_month()){
	      title += ': ' + page.month + '-' + page.year;
	    } else if (is_year()){
	      title += ': ' + page.year;
	    }
	  } else if (is_category()){
	    title = 'Category: ' + page.category;
	  } else if (is_tag()){
	    title = 'Tag: ' + page.tag;}
	%>
	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<%- meta_maker() %>
	<% if (theme.rss){ %><link rel="alternate" href="<%- url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml"><% } %>
	<% if (theme.favicon){ %><link rel="icon" href="<%- url_for(theme.favicon) %>?<%- date_xml(Date.now()) %>"><% } %><% if (theme.fancybox){ %><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<% } %>	<% if (config.highlight.enable){ %><link href="//fonts.googleapis.com/css?family=Source+Code+Pro|Jura" rel="stylesheet" type="text/css"><% }else{ %><link href="//fonts.googleapis.com/css?family=Jura" rel="stylesheet" type="text/css"><% } %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<%- css('css/style.css?'+date_xml(Date.now())) %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<%- partial('google-analytics') %>
</head>